:host {
  display: block;
}

.container{
  display: flex;
  flex-direction: row;
  .preview{
    border: 1px solid;
    flex:1;
    border-radius: 5px;
    &__picture {
      height: 500px;
      flex: 1;
      margin: 8px;
      background-repeat: no-repeat;
      background-color: gray;
    }
  }
}
