.container {
  display: flex;
  flex: 1;
}
.name {
  display: flex;
  gap: 5px;
  align-items: center;
}

.resume {
  display: flex;
  margin: 10px;
  padding: 15px;
  height: 100%;
  flex: 1;
  // border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lighten(gray, 30);
  gap: 15px;
  background-color: lighten(gray, 40);

  &__about {
    // background-color: rgb(230, 230, 230);
    // flex: 1;
    // margin: 10px;
    // border: 1px solid gray;
    // justify-content: center;
    box-shadow: 3px 3px 3px lighten(gray, 30);
    background-color: lighten(gray, 45);
    gap: 15px;
    display: flex;
    height: 1000px;
    border-radius: 5px;
    width: 250px;
    flex-direction: column;
  }

  &__overview {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__priorexperience {
    border: 1px solid gray;
    border-radius: 5px;
    // flex: 1;
    height: 25%;
  }

  &__projects {
    border: 1px solid gray;
    border-radius: 5px;
    flex: 1;

  }

  &__picture {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    // margin: 15px;
    background-image: url(../../../pictures/Buteo_buteo_-Scotland-8.jpg);
    background-position: 45% 10%;
  }

  &__whoami {

  }
}
