<div class="resume">
  <div class="about">
    <small><small>WHOAMI</small></small>
    <div class="resume__about">
      <app-about-me></app-about-me>
    </div>
  </div>
  <div class="resume__overview">
    <div class="priorExperience">
      <small><small>EXPERIENCE</small></small>
      <div class="resume__priorexperience">
        <app-acolades></app-acolades>
      </div>
    </div>
    <div class="projects">
      <small><small>PROJECTS</small></small>
      <div class="resume__projects">
        <app-projects></app-projects>
      </div>
    </div>
  </div>
</div>
