<div class="acolades">
  <div class="acolades__work">
    <div class="current-acolades">
      <ul cdkListbox cdkListboxUseActiveDescendant class="current-acolades__steps">
        @for (step of workAcolades; track step) {
        <li cdkOption="step" class="current-acolade">
          <div class="current-acolade__flair"></div>
          <div class="current-acolade__content">
            <b>
              <small>
                <small>
                  <h4 class="current-acolade__date">
                    {{step.fromDate | date:'MM/yyyy'}} |
                    @if(step.toDate === 'now') {
                    {{step.toDate}}
                    }
                    @else {
                    {{step.toDate| date:'MM/yyyy'}}
                    }

                  </h4>
                </small>
              </small>
            </b>
            @if(step.days && +step.days >= 0) {
              <small>{{step.days}} days</small>
            }
            <h2 class="current-acolade__title"> {{step.title}}</h2>
            <p class="current-acolade__description">{{step.description}}</p>
            <div class="current-acolade__tags">
              @for(tag of step.tags; track $index) {
              <p class="current-acolade__tag">{{tag}}</p>
              }
            </div>
          </div>
        </li>
        }
      </ul>

    </div>
  </div>
  <div class="acolades__education">
    <div class="current-acolades">
      <ul cdkListbox cdkListboxUseActiveDescendant class="current-acolades__steps">
        @for (step of educationalAcolades; track step) {
        <li cdkOption="step" class="current-acolade">
          <div class="current-acolade__flair"></div>
          <div class="current-acolade__content">
            <b>
              <small>
                <small>
                  <h4 class="current-acolade__date">
                    {{step.fromDate | date:'MM/yyyy'}} |
                    @if(step.toDate === 'now') {
                    {{step.toDate}}
                    }
                    @else {
                    {{step.toDate| date:'MM/yyyy'}}
                    }

                  </h4>
                </small>
              </small>
            </b>
            @if(step.days && +step.days >= 0) {
              <small>{{step.days}} days</small>
            }
            <h2 class="current-acolade__title"> {{step.title}}</h2>
            <p class="current-acolade__description">{{step.description}}</p>
            <div class="current-acolade__tags">
              @for(tag of step.tags; track $index) {
              <p class="current-acolade__tag">{{tag}}</p>
              }
            </div>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
