<div class="projects">
  <div class="projects__currentProject">

    <div class="projects__selectedProject-content">
      <ul class="projects__previousWork">
        <li class="projects__previousWork-current">
          <div class="projects__previousWork-title">
            <h3>World of Trash (Zuul Framework)</h3>
          </div>

          <p class="projects__previousWork-content">During our first semester we were tasked with producing a small game, based on the World of Zuul framework.
            The first part of the game was to be done as only a console game, and in the second we had to include a GUI using JavaFX.</p>
        </li>
        <li class="projects__previousWork-current">
          <div class="projects__previousWork-title">
            <h3>CMS Module</h3>
            <small><a class="projects__previousWork-link" href="https://github.com/LangeHenrik/SDU-SE-F22" target="_blank">github.com/LangeHenrik/SDU-SE-F22</a></small>
          </div>

          <p class="projects__previousWork-content">During our second semester we were tasked with creating a CMS module, in a
            larger
            search system, for an imaginary electronics company.
            We implemented the backend in the beginning of our project, finishing off producing the UI. The
            entire
            project was conducted using the SCRUM framework.</p>
        </li>
        <li class="projects__previousWork-current">
          <div class="projects__previousWork-title">
            <h3>Cyber-Physical System</h3>
            <small><a class="projects__previousWork-link" href="https://github.com/Pizzafuglen/E22-Sem-3-Brewing-Project-Java" target="_blank">github.com/Pizzafuglen/E22-Sem-3-Brewing-Project-Java</a></small>
          </div>

          <p class="projects__previousWork-content">During our third semester we were tasked with creating a system that allowed
            for
            communication between an end-user and a physical device,
            using an HTTP-server as a digital means of transporting information. The project was finished
            using an
            agile, homebrew-SCRUM framework,
            with its own standalone UI finished in a separate project</p>
        </li>
        <li class="projects__previousWork-current">
          <div class="projects__previousWork-title">
            <h3>Component Based System</h3>
            <small><a class="projects__previousWork-link" href="https://github.com/Pizzafuglen/SEM-F23" target="_blank">github.com/Pizzafuglen/SEM-F23</a></small>
          </div>

          <p class="projects__previousWork-content">During our fourth
            semester, we were tasked with implementing a system, allowing for control and manipulation of a
            simulation of the SDU I4.0-Lab. The implementation included component-oriented subsystems,
            communicating
            internally using HTTP-requests, a user-interface, and the use of 3 different protocols (HTTP,
            SOAP, and
            MQTT)</p>
        </li>
        <li class="projects__previousWork-current">
          <div class="projects__previousWork-title">
            <h3>CoSELab Software Analysis</h3>
            <small><a class="projects__previousWork-link" href="https://source.coderefinery.org/coselab/sducodeanalysis" target="_blank">source.coderefinery.org/coselab/sducodeanalysis</a></small>
          </div>

          <p class="projects__previousWork-content">As mentioned in
            the "about me"-section, I have spent a lot of time working on a project along one of my
            professors; the idea behind the project,
            is to allow developers insight into the code they write,
            beyond the standard shallow analysis available within most versioning tools (not excluding it,
            just adding to it). The project
            is written in PHP/Laravel, and is run both as a standalone local application, as cloud-based
            solution, and a containerized application.
        </p>
        </li>
      </ul>
    </div>
  </div>
</div>


