.whoami {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  width: 275px;

  &__picture {
    height: 230px;
    border-radius: 5px;
    background-image: url(../../../../pictures/451876436_1214889329454152_3557995918988932421_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    object-fit: 50%;
  }

  &__nameDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  &__contactMe {
    display: flex;
    gap: 3px;
    flex-direction: column;
    text-decoration: none;
    transform: 2s;
  }

  &__contactMe>a {
    text-decoration: none;
    padding: 2px;
  }

  &__contactMe>a:hover {
    border-radius: 5px;
    width: fit-content;
    background-color: lighten($color: blue, $amount: 42);
  }
}
