<div class="whoami">
  <div class="whoami__picture"></div>
  <div class="whoami__nameDescription">
    <h1>CHRISTOFFER ROSENKILDE</h1>
    <p>Software Engineer with flair for detail and a solution oriented mindset. Having studiet Software Techonology at
      the University of Southern Denmark, I have acquired skills within a broad slice of the software industry.</p>
    <p>I am a diligent worker, with an unquenchable thirst for knowledge, and a clear understanding of bettering myself
      in the context of my field.</p>
    <p>Despite being 24-years of age, I have worked a diverse and differentiated series of jobs, and therefore thrive in
      dynamic work environments, aswell as flourish with responsibility.</p>
    <p>With the responsibility for the primary progress regarding the Sokrates Web-application done in collaboration
      with assistant professor Miguel Campusano of SDU and fellow student Mikkel Fly, taking the lead on projects don't
      scare me either.</p>
    <p>Prior to me finishing my studies, a had an internship at CompuSoft A/S which was spent, creating web components,
      backend API-endpoints, and doing overall migration of older solutions, for the vast swathe of products they
      provide as a SaaS- and hardware-company.</p>
  </div>
  <div class="whoami__contactMe">
    <h1>CONTACT ME</h1>
    <a href="tel:+4529872424" target="_blank"> Phone: +45 29 87 24 24</a>
    <a href="https://goo.gl/maps/ymmgBRRukNFTfGCA8" target="_blank"> Recidence: Odense C, Denmark</a>
    <a href="mailto:c@chrosenkilde.com" target="_blank">Business Email: c&#64;chrosenkilde.com</a>
    <a href="mailto:crose19@student.sdu.dk" target="_blank">School Email: crose19&#64;student.sdu.dk</a>
  </div>
</div>
