<div class="whoami">
  <div class="whoami__picture"></div>
   <div class="whoami__nameDescription">
     <h1>Christoffer Rosenkilde</h1>
     <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt beatae ipsam qui recusandae autem veniam rerum
       nobis necessitatibus omnis unde in culpa blanditiis accusamus natus, ut facilis obcaecati nesciunt placeat! <br>
     </p>
     <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt beatae ipsam qui recusandae autem veniam rerum
      nobis necessitatibus omnis unde in culpa blanditiis accusamus natus, ut facilis obcaecati nesciunt placeat! <br>
    </p>
   </div>
</div>
