.whoami {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  padding: 15px;

  &__picture {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    background-image: url(../../../../pictures/Buteo_buteo_-Scotland-8.jpg);
    background-position: 45% 10%;
  }

  &__name {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__description {
    display: flex;
    overflow: hidden;
    word-wrap: break-word;
  }
}
