<div class="container">
  <div class="whoami">
    <div class="whoami__picture"></div>
    <div class="whoami__name">
      <span class="material-symbols-rounded">person</span>
      <h2> Christoffer Rosenkilde</h2>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt beatae ipsam qui recusandae autem veniam rerum
      nobis necessitatibus omnis unde in culpa blanditiis accusamus natus, ut facilis obcaecati nesciunt placeat!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt beatae ipsam qui recusandae autem veniam rerum
      nobis necessitatibus omnis unde in culpa blanditiis accusamus natus, ut facilis obcaecati nesciunt placeat!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt beatae ipsam qui recusandae autem veniam rerum
      nobis necessitatibus omnis unde in culpa blanditiis accusamus natus, ut facilis obcaecati nesciunt placeat!</p>
  </div>
</div>
