<div class="container">
<div class="resume">
  <div class="resume__about">
    <div class="resume__picture"></div>
    <div class="resume__whoami">
      <div class="name">
        <span class="material-symbols-rounded">person</span>
        <h2>Christoffer Rosenkilde</h2>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt beatae ipsam qui recusandae autem veniam rerum nobis necessitatibus omnis unde in culpa blanditiis accusamus natus, ut facilis obcaecati nesciunt placeat!</p>
    </div>
  </div>
  <div class="resume__overview">
    <div class="resume__priorexperience">

    </div>
    <div class="resume__projects">

    </div>
  </div>
</div>

</div>
<router-outlet />
