.container {
  gap: 10px;
  display: flex;
  flex: 1;
}

.resume {
  display: flex;
  margin: 20px;
  height: 100%;
  flex: 1;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: lightgray 5px 5px;

  &__about {
    background-color: lightgrey;
    margin: 10px;
    height: 1000px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 25%;
  }

  &__overview {
    flex: 1;
    margin: 10px;
    height: 50px;
  }
}
