:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.display {
  flex:1;
  &__array {
    margin: 8px;
  }
}

.selection {
  flex:1;
  margin: 8px;
}

.test {
  &__button {
    border: 2px solid red;
    margin:10px;
  }
  &__button:focus {
    background-color: red;
    outline:none;
    border: 2px solid blue;
  }
}
